@import '../../style/vars.scss';
@import '../../style/shadows.scss';

// Headings is imported below so that the font-size gets set if the heading is set even if the sl-txt says something else

.sl-txt {
  font-size: var(--sl-text-size);
  color: var(--sl-text-primary);
  
  &.sl-txt-bold {
    font-weight: bold;
  }
  &.sl-txt-it {
    font-style: italic;
  }

  &.sl-txt-primary {
    color: var(--sl-text-primary);
  }
  &.sl-txt-secondary {
    color: var(--sl-text-secondary);
  }

  &.sl-primary {
    color: var(--sl-primary-color);
  }
  &.sl-secondary {
    color: var(--sl-secondary-color);
  }

  &.sl-danger {
    color: var(--sl-danger-color);
  }
  &.sl-hazard {
    color: var(--sl-hazard-color);
  }
  &.sl-warning {
    color: var(--sl-warning-color);
  }
  &.sl-success {
    color: var(--sl-success-color);
  }
  &.sl-info {
    color: var(--sl-info-color);
  }
  &.sl-disabled {
    color: var(--sl-disabled-color);
  }

  &.sl-txt-not-bold {
    font-weight: normal;
  }
  &.sl-txt-not-it {
    font-style: normal;
  }

  &.sl-sm {
    font-size: var(--sl-text-small-size);
  }
  &.sl-lg {
    font-size: var(--sl-h4-size);
  }

}

@import './Headings.scss';