.sl-align-center {
  text-align: center;
  z-index: var(--sl-z-index-content);
}

.sl-align-left {
  text-align: left;
  z-index: var(--sl-z-index-content);
}

.sl-align-right {
  text-align: right;
  z-index: var(--sl-z-index-content);
}

.sl-align-start {
  text-align: start;
  z-index: var(--sl-z-index-content);
}

.sl-align-end {
  text-align: end;
  z-index: var(--sl-z-index-content);
}

.sl-align-jus {
  text-align: justify;
  z-index: var(--sl-z-index-content);
}

.sl-align-inh {
  text-align: inherit;
  z-index: var(--sl-z-index-content);
}