.sl-h1 {
  margin: 15px 0px;
  font-size: var(--h1-size);
  font-weight: bold;
}
.sl-h2 {
  margin: 10px 0px;
  font-size: var(--h2-size);
  font-weight: bold;
}
.sl-h3 {
  font-size: var(--h3-size);
  margin: 10px 0px;
  font-weight: bold;
}
.sl-h4 {
  margin: 5px 0px;
  font-size: var(--h4-size);
  font-weight: bold;
}
.sl-h5 {
  margin: 5px 0px;
  font-size: var(--h5-size);
  font-weight: bold;
}
.sl-h6 {
  margin: 2px 0px;
  font-size: var(--h6-size);
  font-weight: bold;
}