.sl-in {
  width: -webkit-fill-available; // 100% includes the padding, not just the available space inside
  margin: 5px 0px;
  padding: 8px;
  font-size: var(--sl-in-font-size);
  border-radius: var(--sl-border-radius);
  border-color: var(--sl-text-primary);
  color: var(--sl-text-primary);
  border-width: 1px;
  z-index: var(--sl-z-index-content);

  &:focus-visible {
    outline: 1px solid var(--sl-text-primary);
  }

  &-primary {
    @extend .sl-in;
    // color: var(--sl-primary-color);
    border-color: var(--sl-primary-color);
    &:focus-visible {
      outline: 1px solid var(--sl-primary-color);
    }
  }
  &-secondary {
    @extend .sl-in;
    // color: var(--sl-secondary-color);
    border-color: var(--sl-secondary-color);
    &:focus-visible {
      outline: 1px solid var(--sl-secondary-color);
    }
  }

  &-danger {
    @extend .sl-in;
    // color: var(--sl-danger-color);
    border-color: var(--sl-danger-color);
    &:focus-visible {
      outline: 1px solid var(--sl-danger-color);
    }
  }
  &-hazard {
    @extend .sl-in;
    // color: var(--sl-hazard-color);
    border-color: var(--sl-hazard-color);
    &:focus-visible {
      outline: 1px solid var(--sl-hazard-color);
    }
  }
  &-warning {
    @extend .sl-in;
    // color: var(--sl-warning-color);
    border-color: var(--sl-warning-color);
    &:focus-visible {
      outline: 1px solid var(--sl-warning-color);
    }
  }
  &-success {
    @extend .sl-in;
    // color: var(--sl-success-color);
    border-color: var(--sl-success-color);
    &:focus-visible {
      outline: 1px solid var(--sl-success-color);
    }
  }
  &-info {
    @extend .sl-in;
    // color: var(--sl-info-color);
    border-color: var(--sl-info-color);
    &:focus-visible {
      outline: 1px solid var(--sl-info-color);
    }
  }
}